{% extends 'blank_layout.html' %}
{% block content %}
<h1>List {{visit}}'s visit ,Session count {{count}}</h1>
<h2>Override content block of blank_layout</h2>

{% load static %}
<table>
    <tr>
        <td>Sl no</td>
        <td>title</td>
    </tr>

{% for i in movies %}
<tr>
    <td>{{forloop.counter}}</td>
    <td>{{i.title}}</td>
    {% if i.image %}
    <td><img src="{{i.image.url}}"></td>
   
    {% endif %}
    <td><a href="{% url 'edit' i.id %}">Edit</a></td>
    <td><a href="{% url 'delete' i.id %}">Delete</a></td>
    <td><a href="?action=delete&id={{i.id}}">Delete</a></td>
</tr>

{% endfor %} 
</table>

{% endblock content%}


